/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Naruto img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.imagem-principal img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.Sasuke img { 
    max-width: 450px;
    width: 100%;
    height: auto;
}

.Sakura img {
    max-width: 450px;
    width: 100%;
    height: auto;
}

.Kakashi img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.outros img {
     max-width: 500px;
    width: 100%;
    height: auto;
}



/* Corpo da página */
body {
  
    background: linear-gradient(#000000, #200131cb, #645a69da, #573a9cd2) ;
    min-height: 100%;
    margin: 0%;
    
}

.logo {
  background-image:url(assets/images/madara.obito.jpg);
  background-size: cover;
  background-position: center 12%;
  background-repeat: no-repeat;
  min-height: 220px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 140px;
}

.logo img {
  width: 200px;
  height: auto;
}




/* Barra separadora */
.bar {
    border-width: 2px;
    border-style: outset;
    border-color: #000000;
    
}

/* Layout principal */
.content {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
    padding: 0 10px;
    
}

/* Sidebar esquerda */
.sidebar {
    width: 200px;
    background-image: url(https://e0.pxfuel.com/wallpapers/568/923/desktop-wallpaper-sasuke-mangekyou-sharingan-sasuke-face.jpg);
    padding: 15px;
    border-width: 2px;
    border-style: inset; 
    border-color: #000000;
    border-radius: 20px;
    box-shadow:  -10px 5px 20px 3px rgb(64, 4, 161);
}

.sidebar h2 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    
}

.sidebar a {
     color: #1e90ff;
  font-weight: 600;
  padding: 4px 6px;
  border-radius: 4px;
  transition: background 0.3s;
}

.sidebar a:hover {
    text-decoration: underline;
    background: rgba(30, 144, 255, 0.15);
}

/* Conteúdo principal */
.main {
    flex: 1;
    background: radial-gradient(#ffffff, #ecad00);
    padding: 20px;
    border-width: 2px;
    border-style: groove; 
    border-color: #000000;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(173, 3, 102, 0.986)
}

.main h1 {
   
    font-size: 75px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 10px 5px 10px rgba(105, 3, 173, 0.842);    
    background-image: url(https://www.shutterstock.com/image-vector/purple-rinnegan-circle-outline-geometric-260nw-2416292487.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.main h2 {
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.main h3 {
    border-bottom: 1px solid #ddd;
    margin-top: 25px;
    font-size: 1.5rem;

}

.main p {
    margin-bottom: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/* Âncoras (lado direito) */
.anchors {
    width: 200px;
    background-image: url(https://e0.pxfuel.com/wallpapers/568/923/desktop-wallpaper-sasuke-mangekyou-sharingan-sasuke-face.jpg);
    background-position: right top;
    padding: 15px;
    border-width: 2px;
    border-style: outset; 
    border-color: #000000;
    border-radius: 20px;
    box-shadow: 10px 5px 20px 3px rgba(200, 20, 20, 0.6) ;
}

.anchors h2 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.anchors ul {
    list-style: none;
    
}

.anchors a {
    color: #1e90ff;
  font-weight: 600;
  padding: 4px 6px;
  border-radius: 4px;
  transition: background 0.3s;
}

.anchors a:hover {
    text-decoration: underline;
      background: rgba(30, 144, 255, 0.15);
}

/* Rodapé */
.footer {
    height: 100px;
    background: radial-gradient(#9302f39d, #dfe4dea8, #2422222c);
    align-items: center;
    justify-content: center;
    display: flex;
     border-width: 5px;
    border-style: ridge; 
    border-color: #000000;
    border-radius: 20px;

    
    

    
}

